body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fa3200dd;
    color: white;
    display: flex;
    text-align: center;
    padding: 1rem 0;   
    align-content: space-around;

    gap: 22rem;
}
.logo {
    display: flex;
}
footer {
    background-color: #fa3200dd;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 1rem;
}
