<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%=url%>/css/output.css">
    </head>
    <body>
       <nav>
        <div class="">
            <div>
                <img src="./../assets/icon.png" class="w-10  " alt="">
            </div>
            <div>
                <ul >
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/campaigns">Campaigns</a></li>
                    <li><a href="/subscribers">Subscribers</a></li>
                    <li><a href="/cmsdashboard">Content Manager</a></li>
                    <li><a href="/docs">Docs</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
            <div>
                <div>
                   <img src="./../assets/n.png" class="rounded-full" alt="">
                    <p class="font-bold">Nirmal Eeswar</p>
                    <p>nirmaleeswar30@gmail.com</p>
                </div>
            </div>
        </div>
       </nav>
    </body>
</html>